.offer-list {
  display: flex;
  flex-direction: column;
  width: 100%; }
  .offer-list__title {
    display: flex;
    padding: 10px;
    font-size: 24px; }
  .offer-list__container {
    display: block;
    width: 100%;
    mix-width: 320px;
    max-width: 760px;
    margin: 0 auto 0 auto; }
  .offer-list__actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin: 10px 0; }
  .offer-list__items {
    display: flex;
    flex-container: row;
    flex-wrap: wrap; }
    @media (max-width: 760px) {
      .offer-list__items {
        justify-content: center; } }
