@import 'styles/variables.scss';

.offer-list {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__title {
    display: flex;
    padding: 10px;
    font-size: 24px;
  }

  &__container {
    display: block;
    width: 100%;
    mix-width: $xs-width;
    max-width: $ls-width;
    margin: 0 auto 0 auto;
  }

  &__actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin: 10px 0;
  }

  &__items {
    display: flex;
    flex-container: row;
    flex-wrap: wrap;

    @media($maxWidthLS) {
      justify-content: center;
    }

  }

}
