@import 'styles/variables.scss';

.page-not-found {
  display: block;
  width: 100%;
  mix-width: $xs-width;
  max-width: $ls-width;
  margin: 0 auto 0 auto;

  span {
    display: flex;
    margin: 10px 0;
    padding: 10px;
    font-size: 24px;
  }
}
