$color-white: rgba(255,255,255,0.87);
$color-blue: rgb(16,108,200);
$color-red: rgb(255,82,82);
$md-width: 1024px;
$ls-width: 760px;
$xs-width: 320px;
$maxWidthLS: 'max-width: 760px';
$maxWidthXS: 'max-width: 640px';
$maxWidthXXS: 'max-width: 480px';