@import 'styles/variables.scss';

.offer-list__container {

  .offer-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;

    @media($maxWidthLS) {
      padding: 0 5px;
    }

    &__title {
      margin: 10px 0;
      padding: 10px;
      font-size: 24px;
    }

    &__fields {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

    }

    .field-price {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      min-width: 310px;

      @media($maxWidthXS) {
        min-width: 100%;
      }

      .offer-form__field {
        display: flex;
        flex-direction: row;

        &.field-price {
          display: flex;
          flex: 1 1 180px;
          min-width: 180px;
          padding-right: 20px;

          > div {
            width: 100%;
          }
        }

        &.field-currency {
          display: flex;
          flex: 0 0 100px;
          min-width: 100px;

          > div {
            width: 100%;
          }
        }

      }

    }

    &__field {
      margin: 10px 0;
      min-width: 310px;

      @media($maxWidthXS) {
        min-width: 100%;
      }

      &.field-description {
        display: block;
        min-width: 100%;
        width: 100%;

        > div {
          min-width: 100%;
          width: 100%;
        }

        textarea {
          min-width: 100%;
          width: 100%;
        }
      }
    }

    &__actions {
      display: flex;
      flex-direction: row;
      margin: 20px 0;

      @media($maxWidthLS) {
        justify-content: space-between;
      }

      .submit-button {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        border: none;
        border-radius: 4px;
        background: $color-blue;
        color: $color-white;
        padding: 8px 16px;
        min-width: 88px;
        min-height: 40px;
        font-size: 0.9375rem;
        text-transform: uppercase;
        line-height: 1.4em;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-weight: 500;

        &:disabled {
          opacity: 0.5;
          cursor: default;
        }
      }

      &__button {
        margin: 0 10px;
      }
    }

  }
  
}
