.offer-list__item {
  margin: 0 0 40px 0;
  min-width: 320px;
  width: 340px;
  min-height: 460px;
  padding-left: 20px;
  padding-right: 20px; }
  @media (max-width: 640px) {
    .offer-list__item {
      padding-left: 0;
      padding-right: 0; } }
  @media (max-width: 480px) {
    .offer-list__item {
      width: 100%; } }
  .offer-list__item__price-original {
    margin: 5px 0; }
    .offer-list__item__price-original--crossed-out {
      text-decoration: line-through; }
  .offer-list__item__price-reduced {
    margin: 5px 0;
    color: #ff5252; }
