@import 'styles/variables';

.offer-list {

  &__item,
  &__item a {
    display: flex;
    flex-direction: column;
    flex: 1 0 320px;
    justify-content: space-between;
    align-content: stretch;
    align-items: stretch;
    width: 240px;
    max-width: 240px;
    height: 320px;
    margin: 0 20px 20px 0;
    background-size: cover;
    background-repeat: no-repeat;

    &__name,
    &__reduced-price {
      box-sizing: border-box;
      display: flex;
      flex: 1 0 basis;
      justify-content: space-between;
      align-content: center;
      align-items: center;
      padding: 10px;
      background: rgba(0, 0, 0, 0.6);
      color: #fff;
    }

    &__price {
      text-align: right;
    }

    &__reduced-price {
      color: #FFEE58;
      font-weight: bold;
    }

  }

}
