@import 'styles/variables.scss';

.offer-list {

  &__item {
    // box-sizing: border-box;
    margin: 0 0 40px 0;
    min-width: 320px;
    width: 340px;
    min-height: 460px;
    padding-left: 20px;
    padding-right: 20px;

    @media($maxWidthXS) {
      padding-left: 0;
      padding-right: 0;
    }

    @media($maxWidthXXS) {
      width: 100%;
    }

    &__price-original {
      margin: 5px 0;

      &--crossed-out {
        text-decoration: line-through;
      }

    }

    &__price-reduced {
      margin: 5px 0;
      color: $color-red;
    }

  }

}
